.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 145px;
  margin: 0 auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: initial;
    margin-left: initial;
  }
}