 .u-section-1 {
  min-height: 632px;
}

.u-section-1 .u-sheet-1 {
  min-height: 750px;
}

.u-section-1 .u-group-1 {
  width: 889px;
  background-image: none;
  margin: 80px 30px 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 30px 370px;
}

.u-section-1 .u-text-1 {
  margin-top: 53px;
  margin-bottom: 0;
  font-family: "Roboto Condensed", sans-serif;
}

.u-section-1 .u-text-2 {
  margin: 10px 171px 0 1px;
}

.u-section-1 .u-social-icons-1 {
  height: 40px;
  min-height: 16px;
  width: 190px;
  min-width: 94px;
  margin: 100px 299px 0 0;
}

.u-section-1 .u-icon-1 {
  height: 100%;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-icon-4 {
  height: 100%;
}

.u-section-1 .u-image-1 {
  width: 507px;
  height: 507px;
  background-image: url("images/1646244621819.jpg");
  background-position: 50% 50%;
  margin: -306px auto 60px 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 712px;
  }

  .u-section-1 .u-group-1 {
    width: 763px;
    min-height: 354px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 340px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 71px;
  }

  .u-section-1 .u-image-1 {
    width: 484px;
    height: 484px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 918px;
  }

  .u-section-1 .u-group-1 {
    width: 577px;
    min-height: 388px;
    margin-top: 470px;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 40px 40px 55px 60px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 144px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 71px;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    width: 405px;
    height: 405px;
    margin-top: -839px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 938px;
  }

  .u-section-1 .u-group-1 {
    width: 466px;
    min-height: 386px;
    margin-top: 476px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px 30px 63px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 78px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -843px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 465px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 639px;
  }

  .u-section-1 .u-group-1 {
    min-height: 281px;
    margin-top: 325px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 19px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 7px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 83px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    height: 285px;
    width: 285px;
    margin-top: -587px;
  }
}